<section class="cardSearchContainer">
    <header class="">
        <h4>Seach for Cards</h4>
    </header><!-- /header -->
    <input data-ng-model="query" class="" placeholder="search..."><br>
    <main>
        <table>
            <caption>Available Cards</caption>
            <thead>
                <tr>
                    <th><a href="" data-ng-click="predicate='cardName'; reverse=!reverse">Name</a></th>
                    <th>Rare</th>
                    <th>Color</th>
                    <th>Set</th>
                    <th><a href="" data-ng-click="predicate='cardQty'; reverse=!reverse">QTY</a></th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="card in cards | filter:query | orderBy:predicate:reverse">
                    <td>{{ card.cardName }}</td>
                    <td>{{ card.cardRare }}</td>
                    <td>{{ card.cardColor }}</td>
                    <td>{{ card.cardSet }}</td>
                    <td>{{ card.cardQty }}</td>
                    <td>{{ card.cardPrice | currency }}</td>
                </tr>
            </tbody>
        </table>
    </main>
</section>