# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
app/bower_components
dist/
api/db.js

# Users Environment Variables
.lock-wscript
.DS_store