<section class="addCardsContainer">
    <fieldset>
        <legend>Enter in a new Card</legend>
        <label>Card Name<input type="text" name="cardName" data-ng-model="card.cardName" placeholder="enter card name here..."></label>
        <label>Card Price<input type="text" name="cardPrice" data-ng-model="card.cardPrice" placeholder="enter card price here..."></label>
        <label>Card Set<input type="text" name="cardSet" data-ng-model="card.cardSet" placeholder="enter card set here..."></label>
        <label>Card Color<input type="text" name="cardColor" data-ng-model="card.cardColor" placeholder="enter card color here..."></label>
    </fieldset>
    <button type="submit" data-ng-click="saveCard()">Save Card</button>
</section>